[submodule "Desktop/week-one-code-challenge/Desktop/week-one-code-challenge/week-one-code-challenge"]
	path = Desktop/week-one-code-challenge/Desktop/week-one-code-challenge/week-one-code-challenge
	url = https://github.com/aaayussuf/week-one-code-challenge.git
